.home-community {
  background-color: #222;
}

.home-community-container,
.home-community > .title {
  width: 80%;
  margin: auto;
}

.home-community > .title {
  color: #fff;
  margin-bottom: 24px;
}

.community-container,
.home-community-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.community-image {
  position: relative;
}

.community-image img {
    max-width: 100%;
    height: 300px;
    margin: 5px;
    border-radius: 25px;
    object-fit: cover;
}

.favorite-button {
    position: absolute;
    top: 15px;
    right: 25px;
    color: lightgray;
    font-size: 30px;
    text-shadow: 0px 0px 7px #000000;
    transition: 0.3s ease-in-out;
}

.favorited {
  color: red;
}

.favorite-button:hover {
    color: red;
    cursor: pointer;
  }