.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    background-image: url('../gfx/hero.png');
    background-size: cover;
    background-position: center;
    color: #000;
    padding-top: 82px;
    overflow: hidden;
    width: 100%;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-left {
    display: flex;
    flex: 0 0 60%;
    flex-direction: column;
    gap: 24px;
}

.hero-right {
    display: flex;
    flex: 0 0 40%;
    justify-content: right;
    align-items: center;
}

.hero-subtitle {
    font-weight: bold;
    color: #F6C90E;
    font-size: 19px;
}

.hero-description {
    font-size: 19px;
}

.hero-title {
    line-height: 40px;
}

.hero-button {
    width: fit-content;
}

@media (max-width: 785px) {
    .hero-left {
        flex: 0 0 80%;
    }

    .hero-right {
        justify-content: left;
    }

    .hero-content {
        flex-direction: column;
        gap: 20px;
    }
}